<form action="/createSession" method="post">
  <input type="text" name="name" id="" placeholder="Your Name" required>
  <input type="email" name="email" id="" placeholder="Your Email" required>
  <input type="password" name="password" id="" required placeholder="Password">
  <input type="password" name="confirm_password" placeholder="Confirm Password">
  <button type="submit">
    Sign In
  </button>
</form>