<form action="/users/create-session" method="post">
  <input type="email" name="email" id="" placeholder="Your Email" required>
  <input type="password" name="password" id="" required placeholder="Password">
  <input type="submit" value="Sign in">
</form>