<form action="/create">
  <input type="text" name="email" id="" required placeholder="Your Email">
  <input type="text" name="password" id="" required placeholder="Password">
  <button type="submit"> Sign Up</button> 
</form>
